<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <!--title>Yangtz Fishery</title-->
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/monokai_sublime.min.css') }}">
    <link href="{{ url_for('static', filename='css/magnific-popup.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-3.3.7/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.3.7/js/bootstrap-treeview.js') }}"></script>

  </head>
  <body class="no-padding">
      <header class="main-header">
      <div class="container">
      	<div class="row">
         	<div class="col-sm-12">

            	<!-- start logo -->
               <a class="branding" href="{{ url_for('main.index') }}" title="经济鱼类数据库"><img src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png" alt="Ghost 开源博客平台"></a>
               <!-- end logo -->
               
          	</div>
         </div>
      </div>
    </header>
    
    <!-- main section -->
    <div class="sign">
      <div class="main">
        <h4 class="title">
          <div class="normal-title">
            <span>{% block funcname %}{% endblock funcname %}</span>
            <!--span>登录</span-->
          </div>        
        </h4>      
      
        <div class="js-sign-in-container">
          <form id="new_session" method="post">
            {% block form %}
            <!--div class="input-prepend">
              <input placeholder="phone" type="text" id="session_email_or_mobile_number" />
            </div>
            <div class="input-prepend">
              <input placeholder="密码" type="password" id="session_password" />
            </div>
            <div class="remember-btn">
              <input type="checkbox" checked="checked" id="session_remember_me" /><span>记住我</span>
            </div>
            <div class="forget-btn">
              <a href="#">忘记密码？</a>
            </div>
            <input type="submit" name="commit" class="sign-in-button" value="登录" /-->
            {% endblock %}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>