{% extends "exercise/exer_base.html" %}

{% block main %}
<article id=108 class="post">
        <div class="page-header">
            <h3>名词解释</h3>
            <p>侧线鳞、鳍、软条、下位口、鳍式、鳞式</p>
            <h3>填空题</h3>
            <p>（1）鱼类的皮肤由__和__组成。</p>
            <p>（2）鳞片根据它的形状、构造和发生，分为__、__和__。</p>
            <h3>简答题</h3>
            <p>（1）如何根据鱼类的不同体型及口位推断其生活习性与水性？</p>
            <p>（2）鱼类为什么分泌粘液？其功能是什么？</p>
            <p>（3）如何开展鱼类测量？</p>
            <p>（4）如何根据珠星情况初步辨别鱼类雌雄？</p>
        </div>
</article>
{% endblock %}
