<!DOCTYPE html>
<html>
  <head>
  {% block head %}
    <title>Yangtz Fishery</title>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap.css') }}">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/monokai_sublime.min.css') }}">
    <link href="{{ url_for('static', filename='css/magnific-popup.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen.css') }}" />
    
    <script src="{{ url_for('static', filename='bootstrap-3.3.7/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.3.7/js/bootstrap-treeview.js') }}"></script>

    <!-- load mytree -->
    <script src="static/js/mytree.js"></script>
    {% endblock head %}
  </head>
  <body class="home-template">
  	 <!-- start header -->
  	 {% block header %}
    <header class="main-header" style="background-image: url({{ url_for('static', filename='image/header-back.jpg') }})">
    <!--header class="main-header" style="background-image: url(http://img0.ph.126.net/Yh7sIHcY0MWMJjfiMdS4hA==/1277896394286138291.jpg)"-->
      <div class="container">
      	<div class="row">
         	<div class="col-sm-12">

            	<!-- start logo -->
               <a class="branding" href="http://106.14.221.34/" title="Yangtz Fishery"><img src="{{ url_for('static', filename='image/logo.png') }}" alt="Yangtz Fishery"></a>
               <!--a class="branding" href="http://106.14.221.34/" title="Yangtz Fishery"><img src="http://img2.ph.126.net/0u0v8gBFKPDZuhZL8bfW_w==/6632755516048927277.png" alt="Yangtz Fishery"></a-->
               <!--a class="branding" href="http://106.14.221.34/" title="Yangtz Fishery"><img src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png" alt="Yangtz Fishery"></a-->
               <!-- end logo -->
               <h2 class="text-hide">Ghost 是一个简洁、强大的写作平台。你只须专注于用文字表达你的想法就好，其余的事情就让 Ghost 来帮你处理吧。</h2>

               <img src="http://img0.ph.126.net/Yh7sIHcY0MWMJjfiMdS4hA==/1277896394286138291.jpg" alt="Yangtz Fishery" class="hide">
          	</div>
         </div>
      </div>
    </header>
    {%- endblock header %}
    <!-- end header -->

    {% block navbar -%}
    <!-- start navigation -->
    <nav class="main-navigation">
		<div class="container">
			<div class="row">
         	<div class="col-sm-12">
            	<div class="navbar-header">
               	<span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                  	<span class="sr-only">Toggle navigation</span>
                  	<i class="fa fa-bars"></i>
                  </span>
               </div>
               <div class="collapse navbar-collapse" id="main-menu">
                  {% block navmenu -%}
               	<ul class="menu">
                  <li role="presentation"><a href="{{ url_for('main.index') }}">首页</a></li>
        					<li role="presentation"><a href="{{ url_for('main.retrival') }}">检索表</a></li>
        					<li role="presentation"><a href="{{ url_for('main.bbs') }}">留言板</a></li>
        					<li role="presentation">
        					  <a>课堂</a>
        					  <div class="dropdown">
				             <ul class="dropdown-menu">
				               <li role="presentation">
				                 <a href="#">视频</a>
				               </li>
				               <li role="presentation">
				                 <a href="{{ url_for('main.exercises') }}">题库</a>
				               </li>
				             </ul>
				           </div>
        					</li>
        					
        					{% if current_user.is_authenticated %}
        					<li role="presentation">
        					  <a>我的</a>
        					  <div class="dropdown">
        					    <ul class="dropdown-menu">
        					      <li role="presentation">
        					        <a href="{{ url_for('main.user', username=current_user.username) }}">我的主页</a>
        					      </li>
        					      <li role="presentation">
        					        <a href="#">我的小队</a>
        					      </li>
        					      <li role="presentation">
        					        <a href="#">我的习题</a>
        					      </li>
        					      {% if current_user.is_administrator() %}
        					      	<li role="presentation">
        					      		<a href="{{ url_for('main.new_record') }}">添加新记录</a>
        					      	</li>
        					      {% endif %}
                        {% if current_user.is_administrator() or current_user.is_teacher() %}
                          <li role="presentation">
                            <a href="{{ url_for('main.report_news') }}">发布新消息</a>
                          </li>
                        {% endif %}
        					      <li role="presentation">
        					        <a href="{{ url_for('auth.logout') }}">退出</a>
        					      </li>
        					    </ul>
        					  </div>
        					</li>
                     {% else %}
        					<li role="presentation"><a href="{{ url_for('auth.login') }}">登录</a></li>
        					<li role="presentation"><a href="{{ url_for('auth.register') }}">注册</a></li>
        					{% endif %}
        					<li role="presentation"><a href="url_for('main.contact_us') }}">联系我们</a></li>
        					<li role="presentation"><a href="{{ url_for('main.about') }}">关于</a></li>
						</ul>
						{%- endblock navmenu %}   
               </div>
            </div>
         </div>
      </div>
    </nav>
    <!-- end navigation -->
    {%- endblock navbar %}
    
    {% block page_content %}
    <section class="content-wrap">
    	<div class="container">
      	<div class="row">
           {% block aside %}
			  <aside class="col-md-4 sidebar">  
		     <!-- start search form widget -->
             <div class="widget">
				   <div class="content community">
				     <!-- form -->
				     <form class="bs-example bs-example-form" role="form" method="post">
				       <div class="row">
				         <div class="md-6">
				           <p><small>请输入物种名或拉丁名进行搜索</small></p>
                       <div class="input-group">
                       {{ form.hidden_tag() }}
                       {{ form.fishname(class="form-control", placeholder="银鲴") }}
                       {{ form.submit(class="btn btn-default") }}                       
                       </div>                      
				         </div>
				       </div>
				     </form>
                 <br>
					  <!-- tree -->
					  <p>按生物分类系统查看：</p>
					  <div id="tree">
					  <script type="text/javascript">
					    $('#tree').treeview({
					      data:mytree,
					      enableLinks:true,
					      levels:1,
					      })
					  </script>
					  </div>
					  <!-- end tree -->
				   </div>
			    </div>
			    <!-- end form widget -->
			    <!-- start tag cloud widget -->
			    <div class="widget">
               <h4 class="title">标签云</h4>
               <div class="content tag-cloud">
                <a href="#">经济鱼类</a>
                <a href="#">鱼类生态学</a>
               </div>			    
			    </div>
			    <!-- end tag cloud widget -->
		     </aside>
		     {% endblock aside %}
		     <!-- main section -->
		     
		     <main class="col-md-8 main-content">
		       <article id=108 class="post">
		       {% block main %}
                 {% for message in get_flashed_messages() %}
                 <div class="alert alert-warning">
                   <button type="button" class="close" data-dismiss="alert">&times;</button>
                   {{ message }}
                 </div>
                 {% endfor %}

                <ul>
                  {% for new in news %}
                    <li>
                      <div class="post-content">
                        <div class="post-date">{{ moment(new.timestamp).fromNow() }}</div>
                        <div class="post-body">{{ new.body }}</div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>

		         <!--div>
		           <p>This a a post</p>
		         </div-->
		       </article>
		       {% endblock main %}
		     </main>

		   </div>
       </div>
    </section>
    {%- endblock page_content %}
    <!-- end main section-->
    <!-- footer -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <span>Copyright &copy; <a href="{{ url_for('main.index') }}">Yangtz Fishery</a></span>
            <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span>
            <span>京公网安备11010802014853</span>
          </div>
        </div>
      </div>
    </div>

    <a href="#" id="back-to-top" style="display: inline;"><i class="fa">Top</i></a>
    {% block scripts -%}
    {%- endblock scripts %}
  </body>
</html>
